
<footer>
    <a href="/FAQ">FAQ</a>
  <a href="https://mail.google.com/mail/u/0/#inbox?compose=DmwnWrRmTNsCwBWsgpPBRBwJTVjfdJFCJNgWcQcSqqkVwKCJGppZQlfpkDrXtXZchsdxZMKhtdsQ">Kontakt oss</a>
</footer>
</body>
</html>