</head>
<header>
    <section>
        <img src="/img/Logo_Header.png" alt="Picture of a text with content: Review. Its white on a dark red header">
    </section>
    <h1><%= title %></h1>
    <nav>
        <a href="/">Hjem</a>
        <a href="/loggInn">Logg Inn</a>
    </nav>
</header>
<body>