</head>
<header>
    <section>
        <img src="/img/Logo_Header.png" alt="Picture of a text with content: Review. Its white on a dark red header">
    </section>
    <h1><%= title %></h1>
    <nav>
        <a href="/">Hjem</a>
        <% if(user){ %>
            <a href="/vurdering/publiser">Publiser Vurdering</a>
            <a href="/loggUt">Logg Ut</a>
            <% if(user.role === "admin"){ %>
                <a href="/admin">Rapporteringer</a>
                <% } %>
        <% }else{ %>    
            <a href="/loggInn">Logg Inn</a>
        <% } %>
    </nav>
</header>
<body>