<%- include("./partials/head.ejs") %>
<link rel="stylesheet" href="/css/FAQ.css">
<%- include("./partials/header.ejs") %>
    <main>
        <section>
            <h2>Hvorfor må jeg være pålogget, når jeg skal publisere en vurdering, kommentar og raport?</h2>
            <p>Grunnen til at du må være pålogget er for at vi skal se at det er du, som publiserte den og ikke noen andre.
                Derfor autentiserer vi brukerne våre, for å sikre at vi vet som gjorde hva og gjøre noe med det. </p>
        </section>
        <section>
            <h2>Hva er meningen, med at folk publiserer vurderinger?</h2>
            <p>Meningen med at folk registrerer vurderingen er, at folk skal kunne se en anmeldelse om WCAG før de går på nettsiden.
                Det kan hjelpe dem med å vite, om nettsiden er tilpasset til dems behov.
            </p>
        </section>
        <section>
            <h2>Hvorfor burde man kommentere på andre sine vurderinger?</h2>
            <p>Man burde kommentere på andre sine vurderinger for at brukeren, som lagde vurderingen kan få vite hva de kan forbedre
                og hva som er på den gode siden av vurderingen.
            </p>
        </section>
        <section>
            <h2>Hva burde jeg gjøre hvis lenkene for nettsidene ikke funker?</h2>
            <p>Det du burde gjøre da, er å rapportere vurderingen, slik at vi kan ordne hva som gikk galt, da brukeren lagde vurderingen.
                Man burde også rapportere saker, som upassende beskrivelser, upassende kommentarer, feil informasjon osv.
            </p>
        </section>
        <section>
            <h2>Hva skjer hvis jeg skriver en kommentar, som er frekk eller upassende?</h2>
            <p>Hvis vi får vite at du har skrevet noe frekkt, da fjerner vi kontoen din og blacklister navnet slik at du ikke får registrere eller logge inn.</p>
        </section>
    </main>
<%- include("./partials/footer.ejs") %>