main{
    display: flex;
    align-self: center;
    margin-top: 5vw;
    flex-direction: column;
}
main section{
    background: var(--primaryColor);
    padding: 1vw;
    border-radius: 0.7vw;
    max-width: 30vw;
    min-width: 30vw;
}
.info{
    color: white;
    font-size: 1.3vw;
    font-family: var(--kadwa);
    font-weight: 300;
    padding: 0;
    margin: 0;
}
.link{
    font-size: 1vw;
    font-family: var(--kadwa);
    font-weight: 300;
    color: white;
    padding: 0;
    margin: 0;
}


:root{
    --primaryColor: #89080A;
    --kadwa: "Kadwa", serif;
    --k2d: "K2D", sans-serif;
}