main{
    margin-top: 6vw;
    align-self: center;
    display: flex;
    gap: 2vw;
    flex-direction: column;
}
main section{
    background: var(--primaryColor);
    padding: 2vw;
    max-width: 40vw;
    height: auto;
    border-radius: 0.5vw;
}
main section h2{
    font-size: 2vw;
    font-family: var(--kadwa);
    font-weight: 300;
    color: white;
}
main section p{
    font-size: 0.9vw;
    font-family: var(--kadwa);
    font-weight: 300;
    color: white;
}
main section img{
    width: max-content;
    height: 10vw;
}
main section a{
    font-size: 1vw;
    font-family: var(--kadwa);
    font-weight: 300;
    color: white;
}
main form{
    display: flex;
    min-width: 43.5vw;
    align-self: center;
    background: var(--primaryColor);
    border-radius: 0.6vw;
}
main form section{
    display: flex;
    flex-direction: column;
}
main form section label{
    font-size: 1.2vw;
    font-family: var(--kadwa);
    font-weight: 300;
    color: white;
}
main form section textarea{
    width: 30vw;
    font-size: 1vw;
    height: 2.4vw;
    font-family: var(--kadwa);
    border: 0;
    outline: none;
    border-radius: 0.6vw;
    padding: 0.2vw;
}
main form button{
    height: 2.2vw;
    align-self: center;
    margin-top: 2vw;
    width: 8vw;
    border: 0;
    border-radius: 0.5vw;
    background: white;
    color: var(--primaryColor);
    font-family: var(--kadwa);
    font-weight: 300;
    text-align: center;
    font-size: 1.2vw;
}
button:hover{
    cursor: pointer;
}
main div{
    display: flex;
    flex-direction: column;
}
h3{
    margin: 0.5vw;
    font-family: var(--kadwa);
    color: var(--primaryColor);
    font-size: 1.2vw;
    font-weight: 300;
}
h4{
    margin: 0;
    font-size: 1.4vw;
    font-family: var(--k2d);
    font-weight: 300;
    color: white;
    padding: 0;
    margin: 0;
}
main div section p{
    margin-top:0.4vw;
    margin-left: 0.4vw;
}
#deleteReview{
    border: 0;
    font-size: 1.2vw;
    background: white;
    color: var(--primaryColor);
    font-family: var(--kadwa);
    font-weight: 300;
    border-radius: 0.5vw;
    width: 8vw;
}
.deleteComment{
    border: 0;
    margin: 0;
    margin-bottom: 3vw;
    font-size: 0.8vw;
    background: white;
    color: var(--primaryColor);
    font-family: var(--kadwa);
    font-weight: 300;
    border-radius: 0.5vw;
    width: 6vw;
}
:root{
    --primaryColor: #89080A;
    --kadwa: "Kadwa", serif;
    --k2d: "K2D", sans-serif;
}