main{
    margin-top: 6vw;
    align-self: center;
    display: flex;
    flex-direction: column;
}
main section{
    background: var(--primaryColor);
    padding: 2vw;
    max-width: 40vw;
    height: auto;
    border-radius: 0.5vw;
}
main section h2{
    font-size: 2vw;
    font-family: var(--kadwa);
    font-weight: 300;
    color: white;
}
main section p{
    font-size: 0.9vw;
    font-family: var(--kadwa);
    font-weight: 300;
    color: white;
}
main section a{
    font-size: 1vw;
    font-family: var(--kadwa);
    font-weight: 300;
    color: white;
}

:root{
    --primaryColor: #89080A;
    --kadwa: "Kadwa", serif;
    --k2d: "K2D", sans-serif;
}